﻿<%@ page language="C#" autoeventwireup="true" masterpagefile="~/MasterPage/DocMasterPage.master" inherits="Documentation_Documentation, App_Web_ljfpbwis" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="mydiv">
        <div class="mydiv_content">
            <img src="../assets/img/doc_Img/paydibs_logo.png" class="img_info size_img800" /><br />
            <h2>PORTAL MANUAL - V1</h2>
        </div>
    </div>
    <div class="clearfix"></div>

</asp:Content>
