﻿<%@ page language="C#" autoeventwireup="true" inherits="GetMerchantChannel, App_Web_gcn5lwjs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <%= jdata %>
</body>
</html>
