﻿<%@ Page Title="Buy Button" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" Inherits="PDCDocument._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %></h2>
    <h4>Menu</h4>
    <p>Buy Now Botton located on left side. Click on icon.</p><br />
    <img src="../../images/management/buy_button_menu.png" class="img_info size_img300" /><br />
    <h4>Insert Info For Buy Botton</h4>
    <img src="../../images/management/buy_button.png" class="img_info size_img800" /><br />
    <p>Click button 'Create'</p>
    <h4>QRCode, Link And Form For Payment</h4>
    <img src="../../images/management/buy_button_success.png" class="img_info size_img800" /><br />
</asp:Content>

