﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GetMerchantChannel.aspx.cs" Inherits="GetMerchantChannel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <%= jdata %>
</body>
</html>
