@charset "utf-8";
/* CSS Document */
.buttonRed{
	background-image: url(search_bgd.gif);
	color: #fff;
	border: 1px solid #9a0000;
	padding: 0px 15px 0 15px;
	height: 22px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
