﻿#wrapper-TimeOut {
padding: 0px;margin: 0 0px 0px 0px; font-size: 13px; font-family: FrutigerLTStd-Bold; }
#wrapper-TimeOut img{
margin-right: 8px;
}
#wrapper-TimeOut{
margin-top: 0px;
}
hr {
    margin:0px;
}
#pcancel{
    padding-top:5px;
}
#payment-bitcoin{
    padding-top:5px;
    padding-bottom:5px;
}
dl {
    margin-bottom:0px;
}
.content {
    padding-bottom:0px;
}
.panel {
    margin-bottom:0px;
}
#postNow, #btnPrint, #btnReturn {
    margin-top:5px;
}
#modal-timeout .modal-header{
 background-color:#822430;color:white;
}
#modal-timeout .modal-body{
 background-color:#822430;color:white;
}
#modal-timeout .modal-header .close{
 color:white;opacity:0.6;
}

.hide{display:none;}
.fade{opacity:0;-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
/*.fade.in{opacity:1;}*/
.modal{position:fixed;top:20px;right:20px;left:20px;width:auto;margin:0}
.modal.fade{top:-100px}
.modal.fade.in{top:20px}

.alert-m{
	padding:5px !important;
	font-size: 13px; 
	font-family: FrutigerLTStd-Bold;
	border-radius:10px;
	-webkit-border-radius: 10px;

}

.alert{padding:8px 10px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
.icon-question-sign{background-position:-96px -96px;}
/*.accordion-v2.plus-toggle .panel-body {
    padding-left: 20px;
}
.panel-body{
    padding: 5px;
}*/
.panel-body a img{
    margin-top:0px;
    margin-right:10px;
}
.panel-group {
    margin-bottom:0px;
}
#divPromolist {
    
}
    #divPromolist span {
        margin-right : 5px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    #divPromolist h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
        background-color: #f5f5f5;
        text-shadow: none;
        font-weight: normal;
        font-family: "Open Sans", Arial, sans-serif;
        box-sizing: border-box;
        padding: 5px 15px;
        border-bottom: 1px solid #ddd;
    }

.help-inline-top{margin-top:10px;}

.popover {
    min-width: 200px;
}

.logo-img {
	display: block;
    margin-left: auto;
    margin-right: auto 
    /*float: left;
    position: relative;
    margin: 10px 15px 15px 10px;*/
}

nav {
    float: center;
	text-align: center;
}


#header-text {
    display:inline-block;
}



/*#return-to-top {
	z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 75px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top back_btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scroll-for-more {
	z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scroll-for-more  back_btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/

@media (max-width: 768px) {
    .btnResponsive {
        max-width:300px;
        font-size:10px;
    }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  /*.hidden-phone {
    display: none !important;
  }*/
  .popover {
    min-width: 100px;
}

  .btnResponsive {
        max-width:300px;
        font-size:10px;
    }

}

@media (max-width: 425px) {
    #imgmepsfpx {
        width:170px;
    }

    .btnResponsive {
        max-width:300px;
        font-size:10px;
    }
}