﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="payment.aspx.vb" Inherits="HostSim.payment" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
