        
		<tr>
          <td bgcolor="#FFFFFF"><table width="688" border="0" align="center" cellpadding="3" cellspacing="0">
              <tr>
                <td height="14" valign="top" bgcolor="#F87217" style="font-family: Arial;font-size: 14px; color:#FFFFFF">&nbsp;<strong>&nbsp;&nbsp;&nbsp;STEP 2 : RETRIEVE ITINERARY / ORDER STATUS</strong></td>
              </tr>
            </table>
              <br>
              <table width="648" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="14" valign="top" style="font-family: Arial;font-size: 16px;"><strong>Remember not to close, press the back button or refresh this window until you have completed payment.</strong><br>
			To retrieve your itinerary / order status after payment, please <a href="[MERCHANTSUPPORTURL]" target="_blank" style="color:#FF0000">click here</a>. 
                  </td>
                </tr>
              </table>
            <br></td>
        </tr>

