@charset "utf-8";
/* CSS Document */
.buttonRed{
	background-image: url(search_bgd.gif);
	color: #fff;
	border: 1px solid #9a0000;
	padding: 0px 15px 0 15px;
	height: 22px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

body {
	background-color: white;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 130%;
}

form, input, optgroup, select, option {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* submit buttons */
.submit-red {
	background: transparent url(http://www.airasia.com/storage/bo/aaportal.model.ContentFileUpload/eedc9f20-7f000010-4a0ac500-59b2fe72/name/submit_red_mdm.gif) no-repeat 0 0;
	color: #fff;
	font-family: Tahoma, Arial, Helvetica;
	font-weight: bold;
	font-size: 12px !important;
	text-decoration: none !important;
	text-align: center;
	cursor: pointer;
	padding: 4px 0 10px 0;
}

input.submit-red {
	border: none;
	width: 150px !important;
	height: 28px;
	text-align: center;
	margin: 0;
	padding: 4px 0 10px 0;
}

a.submit-red {
	display: block;
	width: 150px;
	text-decoration: none;
	color: #fff !important;
	text-align: center;
	text-decoration: none;
}
a.submit-red:link{
	text-decoration: none !important;
	cursor: pointer;
}
a.submit-red:selected{
	text-decoration: none !important;
	cursor: pointer;
}
a.submit-red:hover {
	text-decoration: none !important;
	cursor: pointer;
}


input.submit-red.submit-lrg {
	background: transparent url(http://www.airasia.com/storage/bo/aaportal.model.ContentFileUpload/eedc9c50-7f000010-4a0ac500-941b87d0/name/submit_red_lrg.gif) no-repeat 0 0;
	width: 170px !important;
}

input.submit-red.submit-sml {
	background: transparent url(http://www.airasia.com/storage/bo/aaportal.model.ContentFileUpload/eedca0a0-7f000010-4a0ac500-84332ef4/name/submit_red_sml.gif) no-repeat 0 0;
	width: 120px !important;
}