﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

.mydiv {
    text-align: center;
    height: 80vh;
}
.mydiv_content {
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position: fixed;
}
footer {
    text-align: center;
}

footer:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    padding: 0;
}

footer p { /* the element to center */
    display: inline-block;
    vertical-align: middle;
}

h4 {
    margin-top: 50px;
    font-weight: bold;
}

.img_info {
    margin: 20px 0 10px;
}

.size_img500 {
    width: 50%;
}

.size_img300 {
    width: 30%;
}

.size_img800 {
    width: 80%;
}

ul, ol{
    margin-left: 2em;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #f9f6f6;
}
.navbar-inverse .navbar-brand {
    color: #ccc;
}