td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.notesml {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.notesmlblk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #FE0000;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.tablehdr {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #69777d;
	height: 20px;
	padding-left: 8px;
	text-align: left;
}
.tablectn1 {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #dce3e2;
	height: auto;
}
.tablectn2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #bcceca;
	height: auto;
}
.amount {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #017189;
}
.title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#00819c;
}

.button
{
	background-color:#00819C;
	color: #ffffff;
	padding: 2px 8px 4px 8px;
	border:1px solid #086476; 
	height: 25px;
	font-weight: bold;
}
.button:hover {
	background-color:#017189;
	cursor: pointer;
}

.button:active {
	background-color:#00819C;
}
#PageButton {
	width: 75px;
	height: 24px; 
}
.Label{
	display:inline;
	width: 75px;
	height:25px;
	float:left;
	padding-bottom:5px;
	padding-top:5px;
}
