﻿<%@ page language="C#" autoeventwireup="true" inherits="Backoffice_SUP_ResendCallbackResponse, App_Web_4j40s4t0" %>

<!DOCTYPE html>
<%@ Register TagPrefix="uc" TagName="Left_Side_Bar" Src="~/UserControl/LeftSideBar.ascx" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Paydibs-Checkout Transaction</title>
    <link rel="stylesheet" type="text/css" href="../../assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap-slider/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="../../assets/css/app.css" type="text/css" />
    <meta name="format-detection" content="telephone=no" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:HiddenField ID="HiddenField2" runat="server" />
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <div class="be-wrapper be-collapsible-sidebar be-collapsible-sidebar-collapsed">
            <uc:Left_Side_Bar ID="Left_Side_Bar" runat="server" />
            <div class="be-content">
                <div class="main-content container-fluid">
                    <div role="alert" class="alert alert-contrast alert-dismissible" id="dl_ErrorDialog">
                        <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
                        <div class="message" id="dl_message">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="card card-table card-border-color card-border-color-primary">
                                <div class="card-header">
                                    <span class="font-weight-bold">Resend CallBack Response</span>
                                </div>
                                <div class="row table-filters-container">
                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-4 table-filters pb-0 pb-xl-0">
                                                <span class="table-filter-title">Method</span>
                                                <asp:DropDownList runat="server" ID="DD_Method" CssClass="select2"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-4 table-filters pb-0 pb-xl-0">
                                                <span class="table-filter-title">Gateway Transaction ID</span>
                                                <asp:TextBox ID="tb_gatewayTxnID" runat="server" CssClass="form-control" placeholder="Gateway Transaction ID"></asp:TextBox>
                                            </div>
                                            <div class="col-12 col-lg-12 col-xl-2">
                                                <div class="row">
                                                    <div class="col-12 col-lg-6 table-filters pb-0 pb-xl-0">
                                                        <span class="table-filter-title"></span>
                                                        <div class="filter-container" style="margin-top: 15px">
                                                            <asp:Button ID="btn_GetReport" runat="server" Text="Get Response" CssClass="btn btn-primary btn-xl" OnClick="btn_GetResponse_Click" />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Content Goes Here
================================================== -->
                                <div class="card-body">
                                    <div class="table-responsive noSwipe">
                                        <table id="table1" class="table table-striped table-hover table-fw-widget">
                                            <thead>
                                                <tr id="TB_column" runat="server">
                                                    <th>Gateway Transaction ID</th>
                                                    <th>Payment ID</th>
                                                    <th>Merchant Call Back Url</th>
                                                    <th>Currency Code</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <asp:Repeater ID="Repeater2" runat="server" OnItemDataBound="Repeater_OnItemDataBound">
                                                    <ItemTemplate>
                                                        <tr class="row-border hover order-column">
                                                            <td><%# Eval("PTxnID") %></td>
                                                            <td><%# Eval("MerchantPymtID") %></td>
                                                            <td><%# Eval("MerchantCallBackUrl") %></td>
                                                            <td><%# Eval("MerchantCurrCode") %></td>
                                                            <td><%# Eval("MerchantTxnAmt") %></td>
                                                            <td>
                                                                <asp:LinkButton ID="lb_Send" CommandArgument='<%# Eval("MerchantCallBackUrl") + "," + Eval("MerchantID") + "," + Eval("MerchantPymtID") +","+
                                                                        Eval("MerchantCurrCode") +"," + Eval("MerchantTxnAmt") +","+ Eval("MerchantOrdID") +","+ Eval("PTxnStatus")+"," +Eval("AuthCode")
                                                                        +","+ Eval("PTxnID") +","+ Eval("AcqBank") +","+ Eval("BankRefNo") +","+ Eval("PTxnMsg")%>' 
                                                                        Text="Send" OnClick="btn_Send_Click" runat="server" CssClass="btn btn-primary btn-xl"> 
                                                                </asp:LinkButton>
                                                            </td>
                                                        </tr>
                                                    </ItemTemplate>
                                                </asp:Repeater>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                Copyright © 2019 Paydibs Sdn. Bhd. All Rights Reserved.
            </div>
        </div>

    </form>
    <script src="../../assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../../assets/js/app.js" type="text/javascript"></script>
    <script src="../../assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/bootstrap-slider/bootstrap-slider.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../../assets/js/app-table-filters.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="../../assets/js/app-tables-datatables.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            App.tableFilters();
            App.dataTables();
        });

        $(function () {
            $('#dl_ErrorDialog').hide();
            var msg = $('#<%= HiddenField1.ClientID %>').val();
            var classType = $('#<%= HiddenField2.ClientID %>').val();
            var type = "alert-danger";
            if (msg != "") {
                if (classType != "") type = classType;
                $('#dl_ErrorDialog').addClass(type);
                document.getElementById('dl_message').innerText = msg;
                $('#dl_ErrorDialog').show();
            }
        });

    </script>
</body>
</html>
