﻿<table align="center" style="border-width: 0px; padding: 0px; margin: 0px; font-size: 12pt; width: 600px">
    <tr>
        <td align="right">
            <p>&nbsp; </p>
			<img src="http://www.e-ghl.com/images/logo.png"/>
        </td>
    </tr>

    <tr>
        <td>
            <p>&nbsp; </p>
            <table>
                <tr>
                    <td style="text-align: left;">
                         Dear [MERCHANTNAME], 
                    </td>
                    <td style="text-align: right; padding-right: 20px">
                        <u>Without Liability</u>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: justify">
                        <p>&nbsp; </p>
                        This is to inform you that our fraud prevention software has identified the transaction detailed below as  <b><u>Medium Risk</u></b>. We strongly recommend that you take the necessary steps to authenticate the cardholder or buyer prior to the delivery of any goods or services. If you are uncertain as to the legitimacy of the buyer, we recommend that you cancel the order and refund it so as to avoid incurring a loss due to a subsequent chargeback.
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <br />
            <table style="text-align: left;">
                <tr>
                    <td width="150">Transaction Date</td>
                    <td width="20">:</td>
                    <td width="430">[TXNDATETIME]</td>
                </tr>
                <tr>
                    <td width="150">Payment ID</td>
                    <td width="20">:</td>
                    <td width="430">[GATEWAYTXNID]</td>
                </tr>
                <tr>
                    <td width="150">Merchant MID</td>
                    <td width="20">:</td>
                    <td width="430">[MERCHANTID]</td>
                </tr>
                <tr>
                    <td>Order Number</td>
                    <td>:</td>
                    <td>[ORDERNUMBER]</td>
                </tr>
                <tr>
                    <td>Order Description</td>
                    <td>:</td>
                    <td>[ORDERDESC]</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>:</td>
                    <td>[CURRENCYCODE] [TXNAMOUNT]</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>&nbsp;</p>
                        Thank you.
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 10pt; text-align: justify; font-style: italic;">
                        <p>&nbsp;</p>
                        *Please do not reply to this message. Mail sent to this address will not be received. Should you wish to obtain further information on this matter kindly email us at <a href="support.eghl@ghl.com ">support.eghl@ghl.com </a>or call us at 03-6286 3366 during working hours from 9:00am to 6:00pm
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: justify">
                        <p>&nbsp;</p>
                        ***************************************************************************
                        <br />
                        DISCLAIMER: This e-mail and its attachments contains confidential information. It is intended solely for the use of the intended recipient to which it has been addressed. If you are not the intended recipient, you are hereby notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. Please delete the email from your system. The recipient should check this email and any attachments for the presence of viruses. Please note that neither GHL ePayments Sdn Bhd (eGHL) nor the sender accepts any responsibility for any damage caused by any virus that may be contained in this e-mail or its attachments.
                        <br />
                        ***************************************************************************
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>