﻿
<table align="center" border="0" width="600px" cellpadding="0" cellspacing="0">
<tbody>
	<tr>
		<td style="width:400px">
			<p>&nbsp;</p>
			<p style="font-size:12pt">
				[TXNDATETIME]
			</p>
			<p style="font-size:12pt">
				eGHL Txn ID: [GATEWAYTXNID]
			</p>
		<td>
		<td style="width:200px">
		<p>&nbsp;</p>
		<p><img src="http://www.e-ghl.com/images/logo.png" align="right" style="width:172px" /></p>
		</td>
	</tr>
</tbody>
</table>
<p>&nbsp;</p>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
  <p style="font-size:12pt">Hello [MERCHANTNAME],</p>
<p style="font-size:12pt;width:600px;"><b><font color="red">This is a Fraud Detection System Alert.</font>&nbsp; This notification is being sent automatically to alert [MERCHANTNAME] regarding potentially fraudulent card transaction ([CURRENCYCODE] [TXNAMOUNT]) performed by [CUSTNAME].</b></p>
<p style="font-size:12pt;width:600px;">Thank you for using eGHL payment service. To see all the transaction details, please login to eGHL Merchant Administration Portal.</p>
	</td>
</tr>
</table>
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td width="150">Payment Method</td>
		<td width="25">:</td>
		<td width="400">[PYMTMETHOD]</td>
	</tr>
	<tr>
		<td width="150">Merchant Txn ID</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTTXNID]</td>
	</tr>
	<tr>
		<td width="150">Order Number</td>
		<td width="25">:</td>
		<td width="400">[ORDERNUMBER]</td>
	</tr>
	<tr>
		<td width="150">Product Description</td>
		<td width="25">:</td>
		<td width="400">[ORDERDESC]</td>
	</tr>
</table>
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td width="600" colspan="3">
			You're advised to verify the customer before shipping any item.
		</td>
	</tr>
</table>
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
<p style="font-size:12pt">Please do not reply to this email as it was automatically generated.</p>
	</td>
</tr>
</table>

<br>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td colspan="3">
			<p style="font-size:16pt"><strong>Need Assistance?</strong></p>
			<p style="font-size:12pt">Please contact us at <a href="mailto:hdesk@ghl.com ">hdesk@ghl.com </a></p>
		</td>
	</tr>
</table>
<p style="margin-bottom:1em;"></p>

<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px">
	<tbody>
		<tr>
			<td>
			<p style="text-align:justify">***************************************************************************</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">DISCLAIMER: This e-mail and its attachments contains confidential information. It is intended solely for the use of the intended recipient to which it has been addressed. If you are not the intended recipient, you are hereby notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. Please delete the email from your system. The recipient should check this email and any attachments for the presence of viruses. Please note that neither GHL ePayments Sdn Bhd (eGHL) nor the sender accepts any responsibility for any damage caused by any virus that may be contained in this e-mail or its attachments.</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">***************************************************************************</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
