﻿
<table align="center" border="0" width="600px" cellpadding="0" cellspacing="0">
<tbody>
	<tr>
		<td style="width:400px"></td>
		<td style="width:200px">
		<p>&nbsp;</p>
		<p><img src="[CARDTYPEURL]assets/img/[SERVICEID]-logo.png" align="right" style="width:172px" /></p>
		</td>
	</tr>
</tbody>
</table>
<p>&nbsp;</p>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
  <p style="font-size:12pt">Dear [CUSTNAME],</p>

<p style="font-size:12pt;width:600px"><font color="red">This is a test transaction.</font>&nbsp;Your payment of <strong>[CURRENCYCODE] [TXNAMOUNT]</strong> to <strong>[MERCHANTNAME] </strong><strong>has NOT been authorized and NOT confirmed</strong>, thank you for making payments using eGHL payment service.</p>
	</td>
</tr>
</table>
<br>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td colspan="3">
			<p style="font-size:16pt;margin-bottom:1em;"><strong>Payment Receipt</strong></p>
		</td>
	</tr>
	<tr>
		<td width="150">Transaction Date</td>
		<td width="25">:</td>
		<td width="400">[TXNDATETIME]</td>
	</tr>
	<tr>
		<td width="150">Merchant Name</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTNAME]</td>
	</tr>
	<tr>
		<td width="150">Merchant Txn ID</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTTXNID]</td>
	</tr>
	<tr>
		<td width="150">Order Number</td>
		<td width="25">:</td>
		<td width="400">[ORDERNUMBER]</td>
	</tr>
	<tr>
		<td width="150">Product Description</td>
		<td width="25">:</td>
		<td width="400">[ORDERDESC]</td>
	</tr>
	<tr>
		<td width="150">Payment Method</td>
		<td width="25">:</td>
		<td width="400">[PYMTMETHOD]</td>
	</tr>
	[CCDETAILS]
	<tr>
		<td width="150">eGHL Txn ID</td>
		<td width="25">:</td>
		<td width="400">[GATEWAYTXNID]</td>
	</tr>
	<tr>
		<td width="150"><strong>Amount</strong></td>
		<td width="25">:</td>
		<td width="400"><strong>[CURRENCYCODE] [TXNAMOUNT]</strong></td>
	</tr>
</table>

<br>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
<!--p style="font-size:16pt"><strong>Important Information </strong></p-->
<!--ol style="font-size:12pt">
	<li><a href="[ServiceTermsLink]">Click here</a> to Merchant&rsquo;s Terms of Service</li>
	<li>Please do not reply to this email as it was automatically generated</li>
</ol-->
<p style="font-size:12pt">Please do not reply to this email as it was automatically generated.</p>
	</td>
</tr>
</table>

<br>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td colspan="3">
			<p style="font-size:16pt"><strong>Need Assistance?</strong></p>
			<p style="font-size:12pt">Please contact [MERCHANTNAME] at:</p>
		</td>
	</tr>
	<tr>
		<td width="100">Tel No</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTCONTACTNO]</td>
	</tr>
	<tr>
		<td width="100">Email</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTEMAILADDR]</td>
	</tr>
</table>
<p>&nbsp;</p>

<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px">
	<tbody>
		<tr>
			<td>
			<p style="text-align:justify">***************************************************************************</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">DISCLAIMER: This e-mail and its attachments contains confidential information. It is intended solely for the use of the intended recipient to which it has been addressed. If you are not the intended recipient, you are hereby notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. Please delete the email from your system. The recipient should check this email and any attachments for the presence of viruses. Please note that neither GHL ePayments Sdn Bhd (eGHL) nor the sender accepts any responsibility for any damage caused by any virus that may be contained in this e-mail or its attachments.</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">***************************************************************************</p>
			<p><img src="https://securepay.e-ghl.com/ipg/assets/img/eghl-logo-outline3.png" align="right" style="width:172px" /></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
