﻿<table align="center" border="0" width="600px" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="width: 400px">
                <p>&nbsp;</p>
                <p style="font-size: 12pt">
                    [TXNDATETIME]
                </p>
                <p style="font-size: 12pt">
                    eGHL Txn ID: [GATEWAYTXNID]
                </p>
                <td>
            <td style="width: 200px">
                <p>&nbsp;</p>
                <p>
                    <img src="http://www.e-ghl.com/images/logo.png" align="right" style="width: 172px" /></p>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
    <tr>
        <td>
            <p style="font-size: 12pt">Dear [MERCHANTNAME],</p>
            <p style="font-size: 12pt; width: 600px;">
                This is to inform you that our fraud prevention software has identified the transaction detailed below as potentially 
                <b><u>Very High Risk</u></b>. The transaction in question breached multiple criteria designed by the system to detect unauthorized or fraudulent card transactions. As a preventive measure we have rejected the said transaction in order to protect you from financial loss due to this unauthorized or fraudulent activity.
            </p>            
        </td>
    </tr>
</table>

<br />

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
    <tr>
        <td width="150">Merchant MID</td>
        <td width="25">:</td>
        <td width="400">[MERCHANTMID]</td>
    </tr>
    <tr>
        <td width="150">Order Number</td>
        <td width="25">:</td>
        <td width="400">[ORDERNUMBER]</td>
    </tr>
    <tr>
        <td width="150">Order Description</td>
        <td width="25">:</td>
        <td width="400">[ORDERDESC]</td>
    </tr>
    <tr>
        <td width="150">Amount</td>
        <td width="25">:</td>
        <td width="400">RM [AMOUNT]</td>
    </tr>
</table>

<br />

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
    <tr>
        <td>
            <p style="font-size: 12pt; width: 600px;">Thank you.</p>         
        </td>
    </tr>
</table>

<p style="margin-bottom: 1em;"></p>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
    <tr>
        <td>
            <p style="font-size: 12pt; width: 600px;">
                *Please do not reply to this message. Mail sent to this address will not be received. Should you wish to obtain further information on this matter kindly 
                email us at <a href="hdesk@ghl.com ">hdesk@ghl.com </a> or 
                call us at XXXXXXXX
            </p>         
        </td>
    </tr>
</table>

<p style="margin-bottom: 1em;"></p>

<table align="center" border="0" cellspacing="0" cellpadding="0" style="width: 600px">
    <tbody>
        <tr>
            <td>
                <p style="text-align: justify">***************************************************************************</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align: justify">DISCLAIMER: This e-mail and its attachments contains confidential information. It is intended solely for the use of the intended recipient to which it has been addressed. If you are not the intended recipient, you are hereby notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. Please delete the email from your system. The recipient should check this email and any attachments for the presence of viruses. Please note that neither GHL ePayments Sdn Bhd (eGHL) nor the sender accepts any responsibility for any damage caused by any virus that may be contained in this e-mail or its attachments.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align: justify">***************************************************************************</p>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>
