﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage/DocMasterPage.master" CodeFile="Documentation.aspx.cs" Inherits="Documentation_Documentation" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="mydiv">
        <div class="mydiv_content">
            <img src="../assets/img/doc_Img/paydibs_logo.png" class="img_info size_img800" /><br />
            <h2>PORTAL MANUAL - V1</h2>
        </div>
    </div>
    <div class="clearfix"></div>

</asp:Content>
