﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" Inherits="PDCDocument._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="mydiv">
        <div class="mydiv_content">
            <img src="../../images/paydibs_logo.png" class="img_info size_img800" /><br />
            <h2>PORTAL MANUAL - V1</h2>
        </div>
    </div>
    <div class="clearfix"></div>

</asp:Content>
