﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PDCDocument.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - PDC Document</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">PDC Document</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/">Home</a></li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a runat="server" href="~/Views/Transactions/Index">Transactions</a></li>
                            <li><a runat="server" href="~/Views/Transactions/Reseller">Reseller</a></li>
                            <li><a runat="server" href="~/Views/Transactions/TransactionsFeeReport">Transactions Fee Report</a></li>
                            <li><a runat="server" href="~/Views/Transactions/ResellerMarginReport">Reseller Margin Report</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Merchant <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a runat="server" href="~/Views/Merchant/ViewMerchant">View Merchant</a></li>
                            <li><a runat="server" href="~/Views/Merchant/ViewChannel">View Channel</a></li>
                            <li><a runat="server" href="~/Views/Merchant/ViewMerchantRate">View Merchant Rate</a></li>
                            <li><a runat="server" href="~/Views/Merchant/ViewResellerRate">View Reseller Rate</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a runat="server" href="~/Views/User/Index">User</a></li>
                            <li><a runat="server" href="~/Views/User/ViewUser">View User</a></li>
                            <li><a runat="server" href="~/Views/User/ViewUserGroup">View User Group</a></li>
                            <li><a runat="server" href="~/Views/User/ChangePassword">Change Password</a></li>
                            <li><a runat="server" href="~/Views/User/ForgotPassword">Forgot Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Merchant Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a runat="server" href="~/Views/Management/EmailPayment">Email Payment (Single/Bulk)</a></li>
                            <li><a runat="server" href="~/Views/Management/BuyBotton">Buy Now Button</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>Copyright &copy; <%: DateTime.Now.Year %> Paydibs Sdn. Bhd. All Right Reserved.</p>
            </footer>
        </div>

    </form>
</body>
</html>
