﻿<%@ page language="C#" autoeventwireup="true" inherits="Backoffice_TemporaryLogin, App_Web_vy25fakv" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
