<!DOCTYPE html>
<html>
<head>
    <title>Gateway ASP.NET Sample Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <div class="container"> 
            <h1 href="/">Gateway ASP.NET Sample Code</h1>
            <p>This set contains working example code to help you integrate your application into the payment gateway. Below are the transaction types covered in this example.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3 sidebar">
                @{
                    var viewDisplayName = ViewContext.ActionDescriptor.DisplayName;
                }    
                <h6>@Html.ActionLink(linkText: "Pay", actionName: "showPay", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowPay ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Pay with Token", actionName: "showPayWithToken", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowPayWithToken ") ? new { @class = "active" } : null )</h6>                    
                <h6>@Html.ActionLink(linkText: "Authorize", actionName: "showAuthorize", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowAuthorize ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Capture", actionName: "showCapture", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowCapture ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Refund", actionName: "showRefund", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowRefund ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Void", actionName: "showVoid", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowVoid ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Verify", actionName: "showVerify", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowVerify ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Retrieve Order", actionName: "showRetrieveOrder", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowRetrieveOrder ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Hosted Checkout", actionName: "showHostedCheckout", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowHostedCheckout ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Pay with 3DS", actionName: "showPayWith3ds", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowPayWith3ds ") ? new { @class = "active" } : null )</h6>



                <h6>@Html.ActionLink(linkText: "Pay with Paypal", actionName: "showPayWithPaypal", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowPayWithPaypal ") ? new { @class = "active" } : null )</h6>


                    

                    <h6>@Html.ActionLink(linkText: "Pay with UnionPay SecurePay", actionName: "showPayWithUnionPaySecurePay", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowPayWithUnionPaySecurePay ") ? new { @class = "active" } : null )</h6>

                    

                    <h6>@Html.ActionLink(linkText: "Pay with Masterpass", actionName: "showMasterpass", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowMasterpass ") ? new { @class = "active" } : null )</h6>

                    
                <h6>@Html.ActionLink(linkText: "Pay Through NVP", actionName: "showPayThroughNVP", controllerName: "payment", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowPayThroughNVP ") ? new { @class = "active" } : null )</h6>
                <h6>@Html.ActionLink(linkText: "Webhooks", actionName: "showWebhooks", controllerName: "webhooks", routeValues: null, htmlAttributes: viewDisplayName.Contains(".ShowWebhooks ") ? new { @class = "active" } : null )</h6>
            </div>
            @RenderBody()
        </div>

    </div>
    <div id="loading-bar-spinner" class="spinner"><div class="spinner-icon"></div></div>
    <script type="text/javascript">
        $( "form" ).submit(function() {
            $("#loading-bar-spinner").show();
        });
    </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
