﻿<%@ Page Title="CHANGE PASSWORD" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" Inherits="PDCDocument._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %></h2>
    <h4>Menu</h4>
    <img src="../../images/user/user_menu_change_pass.png" class="img_info size_img300" /><br />
    <p>Chanange Password Menu located on left side. Click on icon.</p><br />
    <img src="../../images/user/user_change_pass.png" class="img_info size_img300" /><br />

</asp:Content>

