﻿#wrapper-TimeOut {
padding: 0px;margin: 0 0px 0px 0px; font-size: 13px; font-family: FrutigerLTStd-Bold; }
#wrapper-TimeOut img{
margin-right: 8px;
}
#wrapper-TimeOut{
margin-top: 0px;
}
hr {
    margin:0px;
}
#pcancel{
    padding-top:5px;
}
#payment-bitcoin{
    padding-top:5px;
    padding-bottom:5px;
}
#payment-paypal{	/*Added on 6 Dec 2017*/
    padding-top:5px;
    padding-bottom:5px;
}
dl {
    margin-bottom:0px;
}
.content {
    padding-bottom:0px;
}
.panel {
    margin-bottom:0px;
}
#postNow, #btnPrint, #btnReturn {
    margin-top:5px;
}
#modal-timeout .modal-header{
 background-color:#939393;color:white; 
 /*background-color:#822430;color:white;*/
}
#modal-timeout .modal-body{
 background-color:#939393;color:white;
 /*background-color:#822430;color:white;*/
}
#modal-timeout .modal-header .close{
 color:white;opacity:0.6;
}

.hide{display:none;}
.fade{opacity:0;-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
/*.fade.in{opacity:1;}*/
.modal{position:fixed;top:20px;right:20px;left:20px;width:auto;margin:0}
.modal.fade{top:-100px}
.modal.fade.in{top:20px}

.alert-m{
	padding:5px !important;
	font-size: 13px; 
	font-family: FrutigerLTStd-Bold;
	border-radius:10px;
	-webkit-border-radius: 10px;

}

.alert{padding:6px 10px 6px 14px;margin-bottom:10px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:white;border:1px solid white;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
/*.alert{padding:8px 10px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}*/
.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:white;border-color:#ff0000;color:#ff0000; font-size:10px;height:25px;}
/*.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}*/
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
.icon-question-sign{background-position:-96px -96px;}
/*.accordion-v2.plus-toggle .panel-body {
    padding-left: 20px;
}
.panel-body{
    padding: 5px;
}*/
.panel-body a img{
    margin-top:0px;
    margin-right:10px;
}
.panel-group {
    margin-bottom:0px;
}
.button-pymtopt {
    background-color: #4CAF50;
    border: yes;
    color: yellow;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 10px;
}

/* The radio container */
.RadioContainer {
    //display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.RadioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.RadioContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.RadioContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.RadioContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.RadioContainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.logo-img {
	display: block;
    margin-left: auto;
    margin-right: auto 
    /*float: left;
    position: relative;
    margin: 10px 15px 15px 10px;*/
}

nav {
    float: center;
	text-align: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #CC9A9C; /*#ECD8D9; /*#FDFAE1; #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content 
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/

/* Style the tab content with fade effect*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


#divPromolist {
    
}
    #divPromolist span {
        margin-right : 5px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    #divPromolist h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
        background-color: #f5f5f5;
        text-shadow: none;
        font-weight: normal;
        font-family: "Open Sans", Arial, sans-serif;
        box-sizing: border-box;
        padding: 5px 15px;
        border-bottom: 1px solid #ddd;
    }

.help-inline-top{margin-top:10px;}

.popover {
    min-width: 200px;
}


#header-text {
    display:inline-block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/*#return-to-top {
	z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 75px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top back_btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scroll-for-more {
	z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 5px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scroll-for-more  back_btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/

@media only screen and (max-width: 425px) {
    #imgmepsfpx {
        width:170px;
    }

    .btnResponsive {
        max-width:300px;
    }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  /*.hidden-phone {
    display: none !important;
  }*/
  .popover {
    min-width: 100px;
}

}

#cardnumber1 {
	padding-right:0;
	width:60px;
	border-radius:4px;
}
#cardnumber2, #cardnumber3 {
	/*border-left:none;*/
	padding-right:0;
	width:60px; 
	margin-left:1px;
	margin-right:0px;
	border-radius:4px;
}
#cardnumber4 {
	padding-right:0;
	width:70px; 
	margin-left:1px;
	border-radius:4px;
}

@media only screen and (max-width: 374px){
	#cardnumber1 {
		padding-right:0;
		padding-left:8px;
		width:50px;
	}
	#cardnumber2, #cardnumber3 {
		border-left:none;
		padding-left:8px;
		width:50px; 
		margin-left:0px;
		margin-right:0px;
	}
	#cardnumber4 {
		padding-right:0;
		padding-left: 5px;
		width:70px; 
		margin-left:0px;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 994px){
	#cardnumber1 {
		padding-right:0;
		padding-left:8px;
		width:50px;
	}
	#cardnumber2, #cardnumber3 {
		border-left:none;
		padding-left:8px;
		width:50px; 
		margin-left:0px;
		margin-right:0px;
	}
	#cardnumber4 {
		padding-right:0;
		padding-left: 5px;
		width:70px; 
		margin-left:0px;
	}
}

.transparent {
    opacity: 0.2;
}

/*
.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 5px auto;
	margin: 5px 0px;
    overflow: hidden;
    padding: 25px;
	padding: 0px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 14px;
	padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 32px;
    height: auto;
    padding: 0 8px;
	border-radius: 4px;
}
.creditCardForm .owner {
    width: 60%;
    margin-right: 15px;
}
.creditCardForm .CVV {
    width: 30%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
	margin-left: 10px;
    text-align: left;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}*/