
<table align="center" border="0" width="100px" cellpadding="0" cellspacing="0">
<tbody>
	<tr>
		<td style="width:80px">
		<p>&nbsp;</p>
		<p><img src="https://dev.paydibs.com/PPGSGJoyce/assets/img/alert.jpg" align="left" style="width:80px" /></p>
		</td>
	</tr>
</tbody>
</table>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
	<p style="font-size:12pt">Hello Fraud Team,</p>
	<p style="font-size:12pt;width:600px;"><b><font color="red">Merchant below are exceeded per transaction amount limit.</font>&nbsp;
	<p style="font-size:12pt;width:600px;">To view detail please login to Portal for verification. Below are transaction information: </p>
	</td>
</tr>
</table>
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td width="150">Merchant ID</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTID]</td>
	</tr>
	<tr>
		<td width="150">Merchant Name</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTNAME]</td>
	</tr>
	<tr>
		<td width="150">Per Txn Amt Limit</td>
		<td width="25">:</td>
		<td width="400">[PERTXNAMTLIMIT]</td>
	</tr>
	<tr>
		<td width="150">Current Txn Amt</td>
		<td width="25">:</td>
		<td width="400" style="color:red">[CURRENTTXNAMTLIMIT]</td>
	</tr>
	<tr>
		<td width="150">Merchant Txn ID</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTTXNID]</td>
	</tr>
	<tr>
		<td width="150">Date</td>
		<td width="25">:</td>
		<td width="400">[TXNDATETIME]</td>
	</tr>
</table>
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
		<p style="font-size:12pt">Please do not reply to this email as it was automatically generated.</p>
	</td>
</tr>
</table>

<br>