﻿
<table align="center" border="0" width="600px" cellpadding="0" cellspacing="0">
<tbody>
	<tr>
		<td style="width:400px"></td>
		<td style="width:200px">
		<p>&nbsp;</p>
		<p><img src="[CARDTYPEURL]assets/img/[SERVICEID]-logo.png" align="right" style="width:172px" /></p>
		</td>
	</tr>
</tbody>
</table>
<p>&nbsp;</p>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
  <p style="font-size:12pt">Kepada [CUSTNAME],</p>

<p style="font-size:12pt;width:600px"><font color="red">Ini adalah transaksi percubaan.</font>&nbsp;Pembayaran anda sebanyak <strong>[CURRENCYCODE] [TXNAMOUNT]</strong> kepada <strong>[MERCHANTNAME] </strong><strong>telah dibenarkan serta disahkan. Terima kasih kerana membuat pembayaran menggunakan perkhidmatan pembayaran eGHL.</p>
	</td>
</tr>
</table>
<br>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td colspan="3">
			<p style="font-size:16pt;margin-bottom:1em;"><strong>Resit bayaran</strong></p>
		</td>
	</tr>
	<tr>
		<td width="150">Tarikh Transaksi</td>
		<td width="25">:</td>
		<td width="400">[TXNDATETIME]</td>
	</tr>
	<tr>
		<td width="150">Nama Penjual</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTNAME]</td>
	</tr>
	<tr>
		<td width="150">ID Transaksi Penjual</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTTXNID]</td>
	</tr>
	<tr>
		<td width="150">Nombor Pesanan</td>
		<td width="25">:</td>
		<td width="400">[ORDERNUMBER]</td>
	</tr>
	<tr>
		<td width="150">Penerangan Produk</td>
		<td width="25">:</td>
		<td width="400">[ORDERDESC]</td>
	</tr>
	<tr>
		<td width="150">Kaedah Bayaran</td>
		<td width="25">:</td>
		<td width="400">[PYMTMETHOD]</td>
	</tr>
	[CCDETAILS]
	<tr>
		<td width="150">eGHL Txn ID</td>
		<td width="25">:</td>
		<td width="400">[GATEWAYTXNID]</td>
	</tr>
	<tr>
		<td width="150"><strong>Jumlah</strong></td>
		<td width="25">:</td>
		<td width="400"><strong>[CURRENCYCODE] [TXNAMOUNT]</strong></td>
	</tr>
</table>

<br>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
<!--p style="font-size:16pt"><strong>Important Information </strong></p-->
<!--ol style="font-size:12pt">
	<li><a href="[ServiceTermsLink]">Click here</a> to Merchant&rsquo;s Terms of Service</li>
	<li>Please do not reply to this email as it was automatically generated</li>
</ol-->
<p style="font-size:12pt">Sila jangan balas e-mel ini kerana ia dijana secara automatik.</p>
	</td>
</tr>
</table>

<br>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td colspan="3">
			<p style="font-size:16pt"><strong>Perlukan bantuan?</strong></p>
			<p style="font-size:12pt">Sila hubungi [MERCHANTNAME] di:</p>
		</td>
	</tr>
	<tr>
		<td width="100">Nombor Telefon</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTCONTACTNO]</td>
	</tr>
	<tr>
		<td width="100">E-mel</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTEMAILADDR]</td>
	</tr>
</table>
<p>&nbsp;</p>

<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px">
	<tbody>
		<tr>
			<td>
			<p style="text-align:justify">***************************************************************************</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">PENAFIAN: E-mel ini dan lampirannya mengandungi maklumat sulit. Ia bertujuan semata-mata untuk kegunaan penerima yang dimaksudkan dan di mana ia telah dialamatkan. Sekiranya anda bukan penerima yang dimaksudkan, adalah dimaklumkan bahawa mendedahkan, menyalin, mengedar atau mengambil apa-apa tindakan yang bergantung pada kandungan maklumat ini adalah dilarang sama sekali. Sila padamkan e-mel dari sistem anda. Penerima harus menyemak e-mel ini dan sebarang lampiran untuk mengelak kehadiran virus. Sila ambil perhatian bahawa GHL ePayments Sdn Bhd (eGHL) atau pengirim tidak akan bertanggungjawab untuk apa-apa kerosakan yang disebabkan oleh mana-mana virus yang mungkin terkandung dalam e-mel ini atau lampirannya.</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">***************************************************************************</p>
			<p><img src="https://securepay.e-ghl.com/ipg/assets/img/eghl-logo-outline3.png" align="right" style="width:172px" /></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
