﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewLateResponse.aspx.cs" Inherits="Backoffice_SUP_ViewLateResponse" %>

<!DOCTYPE html>
<%@ Register TagPrefix="uc" TagName="Left_Side_Bar" Src="~/UserControl/LeftSideBar.ascx" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Paydibs-Checkout Transaction</title>
    <link rel="stylesheet" type="text/css" href="../../assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap-slider/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="../../assets/css/app.css" type="text/css" />
    <%--ADD DANIEL START 20190311 [Disabled auto reformat and detection phone number format on Safari]--%>
    <meta name="format-detection" content="telephone=no" />
    <%--ADD DANIEL E N D 20190311 [Disabled auto reformat and detection phone number format on Safari]--%>
</head>
<body>
    <form id="form1" runat="server">
        <asp:HiddenField ID="HiddenField2" runat="server" />
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <div class="be-wrapper be-collapsible-sidebar be-collapsible-sidebar-collapsed">
            <uc:Left_Side_Bar ID="Left_Side_Bar" runat="server" />
            <div class="be-content">
                <div class="main-content container-fluid">
                    <div role="alert" class="alert alert-contrast alert-dismissible" id="dl_ErrorDialog">
                        <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
                        <div class="message" id="dl_message">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="card card-table card-border-color card-border-color-primary">
                                <div class="card-header">
                                    <span class="font-weight-bold">Late Response Transaction</span>
                                </div>
                                <div class="row table-filters-container">
                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 table-filters pb-0 pb-xl-0">
                                                <span class="table-filter-title">Merchant</span>
                                                <div class="filter-container">
                                                    <asp:DropDownList ID="DD_merchant" runat="server" CssClass="select2"></asp:DropDownList>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 table-filters pb-0 pb-xl-0">
                                                <span class="table-filter-title">Date</span>
                                                <div class="filter-container">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <asp:TextBox ID="TB_Since" runat="server" data-date-format="yyyy-mm-dd" data-min-view="2" CssClass="form-control date datetimepicker"></asp:TextBox>
                                                        </div>
                                                        <div class="col-6">
                                                            <asp:TextBox ID="TB_To" runat="server" data-date-format="yyyy-mm-dd" data-min-view="2" CssClass="form-control date datetimepicker"></asp:TextBox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-12 table-filters pb-0 pb-xl-2">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <button id="btnShowPopup" data-toggle="modal" data-target="#form-bp1" type="button" class="btn btn-primary btn-lg">Advanced Search</button>
                                                    </div>
                                                    <div class="col-5">
                                                    </div>
                                                    <div class="col-2">
                                                        <asp:Button ID="btn_GetReport" runat="server" Text="Get Report" CssClass="btn btn-primary btn-xl" OnClick="btn_GetReport_Click" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Form Modals-->
                                        <div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
                                            <div class="modal-dialog full-width">
                                                <div class="modal-content">
                                                    <div class="modal-header modal-header-colored">
                                                        <h4 class="modal-title">Advanced Search</h4>
                                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row no-margin-y">
                                                            <div class="form-group col-sm-2">
                                                                <label class="col-form-label">Gateway Transaction ID</label>
                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <asp:TextBox ID="TB_GatewayTxnID" runat="server" CssClass="form-control" placeholder="Gateway Transaction ID"></asp:TextBox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <asp:Button ID="btn_OK" runat="server" Text="OK" CssClass="btn btn-primary btn-xl" OnClick="btn_GetReport_Click" />
                                                        <asp:Button ID="btn_Cancel" runat="server" Text="Cancel" CssClass="btn btn-primary btn-xl" OnClick="btn_Cancel_Click" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Form Modals-->
                                    </div>
                                </div>
                                <!-- Content Goes Here
================================================== -->
                                <div class="card-body">
                                    <div class="table-responsive noSwipe">
                                        <table id="table1" class="table table-striped table-hover table-fw-widget">
                                            <thead>
                                                <tr id="TB_column" runat="server">
                                                    <th>Gateway Transaction ID</th>
                                                    <th>Merchant ID</th>
                                                    <th>Bank Reference Number</th>
                                                    <th>Bank Response Code</th>
                                                    <th>Current Status</th>
                                                    <th>Last Updated</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <asp:Repeater ID="Repeater2" runat="server" OnItemDataBound="Repeater_OnItemDataBound">
                                                    <ItemTemplate>
                                                        <tr class="row-border hover order-column">
                                                            <td style="cursor: pointer">
                                                                <%--<asp:LinkButton Onclick ="Row_Click" onmouseover="this.style.color='blue';" onmouseout="this.style.color='black';"  Style="display: block; color: black;" runat="server"><%# Eval("GatewayTxnID") %></asp:LinkButton>--%>
                                                                <asp:LinkButton OnClick="Row_Click" CommandArgument='<%# Eval("GatewayTxnID") %>' Style="display: block;" runat="server" ID="lb_gatewayTxnID"><%# Eval("GatewayTxnID") %></asp:LinkButton>
                                                            </td>
                                                            <td><%# Eval("MerchantID") %></td>
                                                            <td><%# Eval("BankRefNo") %></td>
                                                            <td><%# Eval("BankRespCode") %></td>
                                                            <td><%# Eval("CurrentStatus") %></td>
                                                            <td><%# Eval("LastUpdated","{0:dd/MM/yyyy hh:mm:ss tt}") %></td>
                                                        </tr>
                                                    </ItemTemplate>
                                                </asp:Repeater>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                Copyright © 2019 Paydibs Sdn. Bhd. All Rights Reserved.
            </div>
        </div>
    </form>
    <script src="../../assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../../assets/js/app.js" type="text/javascript"></script>
    <script src="../../assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/bootstrap-slider/bootstrap-slider.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../../assets/js/app-table-filters.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons/js/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/datatables/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="../../assets/js/app-tables-datatables.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            App.tableFilters();
            App.dataTables();
        });

        $(function () {
            $('#dl_ErrorDialog').hide();
            var msg = $('#<%= HiddenField1.ClientID %>').val();
            var classType = $('#<%= HiddenField2.ClientID %>').val();
            var type = "alert-danger";
            if (msg != "") {
                if (classType != "") type = classType;
                $('#dl_ErrorDialog').addClass(type);
                document.getElementById('dl_message').innerText = msg;
                $('#dl_ErrorDialog').show();
            }
        });

    </script>
</body>
</html>
