.Paydibs_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2684bf);
  background-image: -moz-linear-gradient(top, #3498db, #2684bf);
  background-image: -ms-linear-gradient(top, #3498db, #2684bf);
  background-image: -o-linear-gradient(top, #3498db, #2684bf);
  background-image: linear-gradient(to bottom, #3498db, #2684bf);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: none;
  font-family: Arial;
  color: #ffffff !important;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.Paydibs_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}