﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="MasterPass.aspx.vb" Inherits="GHLCCGW.MasterPass" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="MasterPass" runat="server" method="post">
    
        <script type="text/javascript" src="https://sandbox.static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js"></script>
       
    
    </form>
    <script type="text/javascript">
        handleBuyWithMasterPass();
    function handleBuyWithMasterPass() {
        MasterPass.client.checkout({
            "requestToken": "",                      //required 
            "callbackUrl": "http://www.somemerchant.com/checkoutcomplete.htm",//required 
            "merchantCheckoutId": ""
	    //'requestToken'  : 'e7417373d40840a53addf2295bd8becca5cf539d',
	    //'callbackUrl'   : 'https://www.onlinepayment.com.my/MOLPay/nbepay.php',
	    //'merchantCheckoutId'    : 'a466w4vel4werhzd3ccga1i06akmua9tqw',
	    //'allowedCardTypes'      : 'master,visa,',
	    //'cancelCallback'        : 'https://www.onlinepayment.com.my/MOLPay/nbepay.php',
	    //'suppressShippingAddressEnable': 'false',
	    //'loyaltyEnabled'        : 'false',
	    //'requestBasicCheckout'  : '1',
	    //'version'               : 'v6'
	  });
    }
        </script> 
</body>
</html>
