﻿<%@ Page Language="vb" AutoEventWireup="false" CodeFile="PymtTest.aspx.vb" Inherits="Paydibs.Checkout.PymtTest" %>

<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>

