﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PymtCheckout.aspx.vb" Inherits="Paydibs.Checkout.PymtCheckout" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
