<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respENETS.aspx.vb" Inherits="Paydibs.Checkout.respENETS"%>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>



