<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respDragonPay.aspx.vb" Inherits="Paydibs.Checkout.respDragonPay" ValidateRequest="false"%>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
