﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="respEXPAY_f.aspx.vb" Inherits="Paydibs.Checkout.respEXPAY_f" ValidateRequest="false"%>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
