﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="respBoost.aspx.vb" Inherits="Paydibs.Checkout.respBoost" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
    Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
