﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="respPayMaster.aspx.vb" Inherits="Paydibs.Checkout.respTNG" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
    Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
