﻿<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respEXPAY.aspx.vb" Inherits="Paydibs.Checkout.respexpay" %>

<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
