<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respM2U2.aspx.vb" Inherits="Paydibs.Checkout.respM2U2" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
