<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respRHB.aspx.vb" Inherits="Paydibs.Checkout.respRHB" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
