﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="TestError.aspx.vb" Inherits="Paydibs.Checkout.TestError" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Paydibs Checkout</title>
</head>
<body>
    <form id="form1" runat="server">
        <div> Please Email to .....
        </div>
    </form>
</body>
</html>
