﻿<table align="center" cellpadding="0" cellspacing="0" width="600px" border="0">
<tbody>
	<tr>
		<td style="width:100px"></td>
		<td style="width:200px">
		<p>&nbsp;</p>
		<p><img src="https://payment.paydibs.com/PPG/assets/img/paydibs.png" style="width:172px" /></p>
		</td>
	</tr>
</tbody>
</table>
<p>&nbsp;</p>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
<tr>
	<td>
	<p style="font-size:12pt">Dear [MERCHANTNAME],</p>
	</td>
</tr>
</table>
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td width="160">Transaction Date</td>
		<td width="25">:</td>
		<td width="400">[TXNDATETIME]</td>
	</tr>
	<tr>
		<td width="160">Payment Method</td>
		<td width="25">:</td>
		<td width="400">[PYMTMETHOD]</td>
	</tr>
	<tr>
		<td width="160">Merchant Transaction ID</td>
		<td width="25">:</td>
		<td width="400">[MERCHANTTXNID]</td>
	</tr>
	<tr>
		<td width="160">Order ID</td>
		<td width="25">:</td>
		<td width="400">[ORDERNUMBER]</td>
	</tr>
	<tr>
		<td width="160">Order Description</td>
		<td width="25">:</td>
		<td width="400">[ORDERDESC]</td>
	</tr>
	<tr>
		<td width="160">Paydibs Transaction ID</td>
		<td width="25">:</td>
		<td width="400">[GATEWAYTXNID]</td>
	</tr>
	<tr>
		<td width="160"><strong>Amount</strong></td>
		<td width="25">:</td>
		<td width="400"><strong>[CURRENCYCODE] [TXNAMOUNT]</strong></td>
	</tr>
	<tr>
		<td width="160"><strong>Customer Name</strong></td>
		<td width="25">:</td>
		<td width="400"><strong>[CUSTNAME]</strong></td>
	</tr>
</table>

<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0" style="color:gray">
	<tr>
		<td>
		<p style="text-align:justify">......................................................................................................................................................</p>
		</td>
	</tr>
	<tr>
		<td width="600" colspan="3">
			You're advised to verify the customer before delivery.<br>
			Please do not reply to this email as it was automatically generated.
		</td>
	</tr>
</table>
<!-->
<p style="margin-bottom:1em;"></p>
<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td>
		<p style="font-size:12pt; color:gray">Please do not reply to this email as it was automatically generated.</p>
		</td>
	</tr>
</table>
<-->
<br>

<table align="center" cellspacing="0" cellpadding="0" width="600px" border="0">
	<tr>
		<td colspan="3">
			<p style="font-size:14pt"><strong>Need Help?</strong></p>
			<p style="font-size:10pt">Paydibs Careline: +603 9134 0233, 9am - 6pm (Monday - Friday)</p>
			<p style="font-size:10pt">Email: <a href="mailto:support@paydibs.com ">support@paydibs.com </a></p>
		</td>
	</tr>
</table>
<p style="margin-bottom:1em;"></p>

<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px; color:gray; font-size:8pt">
	<tbody>
		<tr>
			<td>
			<p style="text-align:justify">.....................................................................................................................................................................................................</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">DISCLAIMER: This e-mail and its attachments contains confidential information. It is intended solely for the use of the intended recipient to which it has been addressed. If you are not the intended recipient, you are hereby notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited. Please delete the email from your system. The recipient should check this email and any attachments for the presence of viruses. Please note that neither GHL ePayments Sdn Bhd (eGHL) nor the sender accepts any responsibility for any damage caused by any virus that may be contained in this e-mail or its attachments.</p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:justify">.....................................................................................................................................................................................................</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
