<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respPOLi.aspx.vb" Inherits="Paydibs.Checkout.respPOLi" %>
<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
