﻿<%@ Page Language="vb" AutoEventWireup="false" Codebehind="respPOLi_s2s.aspx.vb" Inherits="Paydibs.Checkout.respPOLi_s2s" %>

<%
	Response.Cache.SetExpires(DateTime.Now.AddSeconds(1))
	Response.Cache.SetCacheability(HttpCacheability.Public)
	Response.Cache.SetValidUntilExpires(True)
%>
<%= g_szHTML%>
